<!DOCTYPE html>
<html lang="en">
<head>
	<title>Hello Books</title>
	<link rel="shortcut icon"  href="{{ url_for('static',filename = "img/favicon.ico") }}">
	<!-- Required meta tags-->
	<meta charset="utf-8">
	<!--Reponsive viewport meta tag -->
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<!--Bootstrap CSS-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

	<!--Custom css -->
	<link rel="stylesheet" href="{{url_for('static', filename = 'css/main.css')}}">

	<!-- JQuery first,then Bootstrap JS plugins -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

	<!--Custom JavaScript file -->
	<script src="{{url_for('static',filename = 'js/main.js')}}"></script>
</head>
<body>
	<div class="container">

		<nav class="navbar navbar-expand-sm bg-info navbar-dark">

			<!-- Brand -->
			<a class="navbar-brand" href="#"><img src="{{ url_for('static',filename='img/logo.jpg')}}" class="img-fluid rounded"></a>

			<!--Toggler/collapsible button -->
			<button class="navbar-toggler hidden-lg-up pull-right" type="button" data-toggle="collapse" data-target="#myNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- Navbar links -->
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="#">Books</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Rent a Book</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Return a Book</a>
					</li>
				</ul>
			

			</div>

			<!--User account login/sign up -->	
			<div class="pull-right">
				<ul class="navbar-nav">
					<li class="nav-item"><a type="button" class="btn nav-link" data-toggle="modal" data-target="#signup">Create Account</a></li>
					<li class="nav-item"><a type="button" class="btn nav-link" data-toggle="modal" data-target="#signin">Log in</a></li>
				</ul>
			</div>

		</nav> 
	</div>

	<!--Content-->
	<div class="container">
		<div class="row">

			<!-- center column with welcome message -->
			<div class="col-sm-12">
				<h3 class="text-center">Welcome to Hello Books Library!</h3>
				<p class="text-center">Borrowing a book is easy and will always be. </p>

			</div>


		</div>

		<div class="row">
		
			<div class="col-sm-12 col-md-3 col-lg-3">
				<!--carousel -->
				<div id="sample" class="carousel slide container" data-ride="carousel" >
					<!--Indicators-->
					<ul class="carousel-indicators">
						<li data-target="#sample" data-slide-to="0" class="active"></li>
						<li data-target="#sample" data-slide-to="1" ></li>
						<li data-target="#sample" data-slide-to="2" ></li>
						<li data-target="#sample" data-slide-to="3" ></li>
						<li data-target="#sample" data-slide-to="4" ></li>
					</ul>

					<!--end of indicators -->

					<!-- The slide -->
					<div class="carousel-inner">

						<!--items-->
						<div class="carousel-item active">
							<img src="{{url_for('static', filename = 'img/linda.jpg')}}" class="pull-rounded">
							<div class="carousel-caption">
								<button type="button" class="btn-success">Borrow this book</button>
							</div>
						</div>

						<div class="carousel-item">
							<img src="{{url_for('static', filename = 'img/book1.jpeg')}}" class="rounded">
							<div class="carousel-caption">
								<button type="button" class="btn-success">Borrow this book</button>
							</div>
						</div>

						<div class="carousel-item">
							<img src="{{url_for('static', filename = 'img/dreamstime.jpeg')}}" class="rounded">
							<div class="carousel-caption">
								<button type="button" class="btn-success">Borrow this book</button>
							</div>
						</div>

						<div class="carousel-item">
							<img src="{{url_for('static', filename = 'img/single_woman.jpeg')}}" class="rounded">
							<div class="carousel-caption">
								<button type="button" class="btn-success">Borrow this book</button>
							</div>
						</div>

						<div class="carousel-item">
							<img src="{{url_for('static', filename = 'img/room_one.jpeg')}}" class="rounded">
							<div class="carousel-caption">
								<button type="button" class="btn-success">Borrow this book</button>
							</div>

						</div>

						<!--end of items -->
					</div>
					<!-- Left and right controls -->
					<a class="carousel-control-prev" href="#sample" data-slide="prev">
						<span class="carousel-control-prev-icon"></span>
					</a>
					<a class="carousel-control-next" href="#sample" data-slide="next">
						<span class="carousel-control-next-icon"></span>
					</a>


				</div>
			</div>
			<!--end of carousel -->

			<!--sample books-->
			<div class="col-sm-12 col-md-3">
				<div class="items">
					<img src="{{url_for('static', filename = 'img/room_one.jpeg')}}" class="books rounded">
					<button type="button" class="btn-success">Borrow this book</button>
				</div>
			</div>

			<div class="col-sm-12 col-md-3">
				<div class="items">
					<img src="{{url_for('static', filename = 'img/single_woman.jpeg')}}" class=" books rounded">
					<button type="button" class="btn-success">Borrow this book</button>
				</div>
			</div>

			<div class="col-sm-12 col-md-3">
				<div class="items">
					<img src="{{url_for('static', filename = 'img/linda.jpg')}}" class="books rounded">
					<div >
						<button type="button" class="btn-success text-center">Borrow this book</button>
					</div>
				</div>
			</div>


	</div>
	</div>

	<!--sign in modal-->
	<div class="modal fade rounded" id="signin">
		<div class="modal-dialog">
			<div class="modal-content">

				<!--header -->
				<div class="modal-header bg-success">
					<h3 class="modal-title">Sign in</h3>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!--sign up form -->
				<div class="modal-body">
					<form class="" action="{{ url_for('signin') }}" method="post">
						<div class="form-group form-element">
							<label for="username" >Username :</label>
							<input type="text" class="form-control" name="username" id="username" placeholder="username ">
						</div>

						<!-- field for capturing password -->
						<div class="form-group form-element">
							<label for="pwd">Password :</label>
							<input type="passowrd" name="pwd" class="form-control" placeholder="Enter password">
						</div>

						<div class="form-group">
							<p>Forgot <a href="#">Password?</a></p>
						</div>

						<div class="form-group ">
							<input type="submit" name="submit" class="btn btn-success text-center" value="sign in">
						</div>


					</form>
				</div>

			</div>
		</div>
	</div>
	<!--end of sign in modal-->




	<!--sign up modal-->
	<div class="modal fade rounded" id="signup">
		<div class="modal-dialog">
			<div class="modal-content">

				<!--header -->
				<div class="modal-header bg-success">
					<h3 class="modal-title">Sign Up</h3>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!--sign up form -->
				<div class="modal-body">
					<form class="" action="{{ url_for('signup') }}" method="post">
						<div class="form-group form-element">
							<label for="username" >Username :</label>
							<input type="text" class="form-control" name="username" id="username" placeholder="username ">
						</div>

						<!--field for email address-->
						<div class="form-group form-element">
							<label for="username" >Email Address :</label>
							<input type="email" class="form-control" name="email" id="username" placeholder="Email">
						</div>

						<!-- field for capturing password -->
						<div class="form-group form-element">
							<label for="pwd">Password :</label>
							<input type="passowrd" name="pwd" class="form-control" placeholder="Enter password">
						</div>

						<!--Repeat password -->
						<div class="form-group form-element">
							<label for="pwd1">Password :</label>
							<input type="passowrd" name="pwd1" class="form-control" placeholder="Re-enter password">
						</div>

						<div class="form-group">
							<input type="submit" name="submit" class="btn btn-success" value="create Account">
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
	<!--end of signup modal-->








</div>

</body>
</html>